/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */




.splash_button {
  width: 200px;
  padding: 15px 0px;
  text-align: center;
  margin: 20px 2px;
  border-radius: 25px;
  font-weight: 600;
  border: 2px solid #1ed760;
  background: #1ed760;
  color: #191414;
  cursor: pointer;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

.splash_button span {
  background: #1ed760;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.splash_button:hover span{
  width: 100%
}

.banner{
  width: 100%;
  height: 100vh;
  background: #191414;
  background-size: cover;
}

.content{
  width:100%;
  position: absolute;
  top: 30%;
  transform: translateY(-75%);
  text-align: center;
  color: #1ed760;
}

.content h1{
  font-size: 60px;
  margin-top: 80px;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #1ed760;
  font-weight: 700px;
}

.content p{
  margin: 2px auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  color: #fff;
}

.textbox {
  height: 20px;
  width: 200px;
  margin: 4px auto;
  font-size: 14pt;
}
