.home-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.sidebar {
  box-sizing: border-box;
  background-color: #000000;
  height: 100%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.playlists-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.playlists-header h2 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.playlist {
  margin: 1rem 0;
}

.playlist-name {
  font-size: 1.2rem;
  font-weight: 600;
}

.playlist-owner {
  margin-top: 0.2rem;
}


.stats-wrapper {
  flex: 1;
  box-sizing: border-box;
  padding: 4rem;
  overflow-x: auto;
}

.stats-wrapper section {
  margin-bottom: 5rem;
}

#similarity {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 5rem;
}

#menu {
  display: flex;
  justify-content: center;
}

.section-name {
  font-size: 1.5rem;
  margin: 0;
}

.no-values {
  margin-top: 1.5rem;
  font-weight: 500;
}

ul.statistic-value {
  display: flex;
  overflow-x: auto;
  margin-top: 1.5rem;
  padding: 0;
  width: 100%;
  list-style: none;
}
ul.statistic-value li {
  flex-shrink: 0;
  font-size: 1.2rem;
  font-weight: 700;
  width: 8em;
  height: 8em;
  margin-right: 2em;
  background-color: #2d2d2d;
  background-size: cover;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#genres ul.statistic-value li {
  width: auto;
  height: auto;
  padding: 1em;
  border-radius: 1rem;
}

#songs ul.statistic-value {
  width: 100%;
  flex-direction: column;
  overflow-x: visible;
}
#songs ul.statistic-value li {
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  height: 3rem;
  margin-right: 0;
  margin-bottom: 0.7em;
  padding: 0 2rem;
  box-shadow: 0 0 3px 3px transparent;
  transition: box-shadow 0.3s, background-color 0.3s;
}
#songs ul.statistic-value li:hover {
  box-shadow: 0 0 3px 3px #2d2d2d;
  background-color: #646464;
}
#songs li a {
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
}
#songs .artist-names {
  width: 20rem;
}
#songs .song-name {
  font-weight: 400;
}