.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.flex-container > .players{
  background-color: #181818;
}
.player1{
  background-color: #181818;
}
.player2{
  background-color: #181818;
}
.flex-container > div {
  flex: 50%;
}
