html {
  background-color: #121212;
}

.flex-container {
  display: flex;
  margin: 40px auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
}

.stats-wrapper {
  position: absolute;
  left: 288px;
  width: calc(100% - 288px);
}

.card, .song_card {
  width: 120px;
  height: 150px;
  color: #fff;
  background-color: #181818;
  display: inline;
  word-wrap: break-word;
  font-size: 20px;
  margin: auto 1.5em;
  padding: 1.5em;
}

.song_card {
  width: 500px;
}


.song_card ul {
  margin-top: -12px;
  color: #818181;
  margin-left: -18px;
} 


.song_card li {
  margin-top: -4px
} 

.card p {
  margin-top: 4px;
  color: #818181;
} 

.players > div {
  margin: 1em 0;
}

.sidenav {
  height: 100%;
  width: 240px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  overflow-x: hidden;
  color: white;
  font-size: 24px;
  padding: 24px;
}


.play_button {
  padding: 18px 40px;
  text-align: center;
  margin: 4em auto;
  border-radius: 25px;
  font-weight: 550;
  border: none;
  text-transform: uppercase;
  font-weight: 70;
  background: #1db954;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  font-family: 'Arimo', sans-serif;
  font-size: 14px;
  letter-spacing: 1.3px;
  display: block;
}